{% extends 'template.html' %}

{% block title %}
<title>Архив локации</title>
{% endblock %}


{% block body %}

<table class="table">
    <tr>
        <td class="bold">Имя работника</td>
        <td class="bold">Долгота</td>
        <td class="bold">Широта</td>
        <td class="bold">Возле работы? Да/Нет</td>
        <td class="bold">Ссылка на карту</td>
        <td class="bold">Дата/время получения получения</td>
        <td class="bold"><a href="{{user_id}}.xlsx">Скачать xlsx</a></td>
    </tr>
        {% for worker in workers %}
        {% for location in locations %}
            {% if user_id|int == worker.tg_id|int %}
                {% if worker.tg_id|int == location.user_tg_id|int %}
                    <tr>
                        <td>{{worker.name}}</td>
                        <td>{{location.location_latitude}}</td>
                        <td>{{location.location_longitude}}</td>
                        {% if location.location_longitude|string > 76.900000|string and location.location_longitude|string < 76.913000|string and location.location_latitude|string < 43.286000|string and location.location_latitude|string > 43.284000|string %}
                            <td>Да</td>
                        {% else %}
                            <td>Нет</td>
                        {% endif %}
                        <td><a href="https://2gis.kz/almaty?m={{location.location_longitude}}%2C{{location.location_latitude}}%2F19.35" target="_blank">Посмотреть на карте</a></td>
                        <td>{{location.send_date}}</td>
                        <td></td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endfor %}
</table>

{% endblock %}
